{% extends 'nav.html' %}
{% block content %}
{% load static %}

<table width="100%" style="text-align:center; border:none">
    <tr>
        <td colspan="2" style="background-color:blue" height="240"></td><!--여백용-->
    </tr>
  
    <tr>
        <td style="background-color:#329998; width:30%">
            목차
        </td>


        <td style="text-align:center; background-color:#329918;">
            컨텐츠
        </td>
    </tr>

    <tr>
        <td style="background-color:#329998; width:30%">
            
        </td>


        <td style="text-align:center; background-color:#329918;">
            가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고
            가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고
            가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고가보자고
        </td>
    </tr>

    <!-- <tr>
        <td style="background-color:#329998; width:50%">
            <div class="card-body" style= "text-align:center; margin: 0; padding: 0;">
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </td>
    </tr> -->
</table>
{% endblock %}