{% extends 'nav.html' %}
{% block content %}
{% load static %}

<style type="text/css">
    a img{
        -webkit-filter: grayscale(100%);
        filter: gray;
    }
    a:hover img{
        -webkit-filter: grayscale(0%);
        filter: none;
    }
</style>

<div class="row row-cols-1 row-cols-md-4 g-4">
    
    <div class="col">
        <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
            <div style="text-align: center;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                <a><img src = "{% static 'imgex.png' %}" width="288" height="432"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
            </div>
            <div class="card-body" >
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
            <div style="text-align: center;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                <a><img src = "{% static 'imgex.png' %}" width="288" height="432"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
            </div>
            <div class="card-body" >
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
            <div style="text-align: center;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                <a><img src = "{% static 'imgex.png' %}" width="288" height="432"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
            </div>
            <div class="card-body" >
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
            <div style="text-align: center;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                <a><img src = "{% static 'imgex.png' %}" width="288" height="432"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
            </div>
            <div class="card-body" >
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
            <div style="text-align: center;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                <a><img src = "{% static 'imgex.png' %}" width="288" height="432"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
            </div>
            <div class="card-body" >
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
            <div style="text-align: center;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                <a><img src = "{% static 'imgex.png' %}" width="288" height="432"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
            </div>
            <div class="card-body" >
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
            <div style="text-align: center;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                <a><img src = "{% static 'imgex.png' %}" width="288" height="432"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
            </div>
            <div class="card-body" >
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
            <div style="text-align: center;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                <a><img src = "{% static 'imgex.png' %}" width="288" height="432"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
            </div>
            <div class="card-body" >
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}