{% extends 'nav.html' %}
{% block content %}
{% load static %}



<div class="container">
<table style="border:none">
    <tr>
        <td colspan="2" style="background-color:white" height="160"></td> <!--여백용-->
    </tr>
  
    <tr>
        <td style="background-color:white; width:5%"></td>
        
        <td style="width: 40%;">
            <div class="card h-100" style="border:0; outline:0;"> <!--card의 선을 없앴다.-->
                <div style="text-align: left;"> <!--사진을 가운데에 오게하기 위해 center 속성을 가진 div태그로 감쌌다.-->
                    <a><img src = "{% static ppp.pimage %}" width="342" height="512"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
                </div>
            </div>
            <div class="card-body" style= "margin: 0; padding: 0; width:278px; text-align: left;">
                <br>
                <h5 class="card-title"><strong>{{ppp.name}}</strong></h5>
                <small style="color: grey;"><p class="card-text">{{ppp.eng_name}}</p></small>
                <small style="color: grey;"><p class="card-text">{{ppp.email}}</p></small>
            </div>
        </td>

        <!-- <td style="background-color:white; width:5%"></td>여백용 -->

        <td style="width: 50%;">
            <div class="row row-cols-1 row-cols-md-2 g-2">
                {% for works in works %}
                {% if ppp.name in works.artist %}
                <div class="col">
                    <div class="card h-100" style="border:0; outline:0;">
                        <div style="text-align: left;">
                            <a href="{% url 'work_detail' works.pk %}"><img src = "{% static works.thumbnail %}" width="278" height="208"></a> <!--330*480사이즈인데 10프로씩 사이즈를 줄였다.-->
                        </div>

                        <div class="card-body" style= "text-align:left; margin: 0; padding: 0; font-size: medium;">
                            <strong class="card-title">{{works.title}}</strong>
                            <small style="color: grey;"><p class="card-text">{{works.artist}}</p></small>
                            <br>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </td>
        <!-- <td style="background-color:white; width:5%"></td> -->
    </tr>
    
    <tr>
        <td colspan="2" style="background-color:white" height="200"></td><!--여백용-->
    </tr>
    <!-- <tr>
        <td style="background-color:#329998; width:50%">
            <div class="card-body" style= "text-align:center; margin: 0; padding: 0;">
                <h5 class="card-title">홍길동</h5>
                <p class="card-text">Hong gill dong</p>
            </div>
        </td>
    </tr> -->
</table>
</div>
{% endblock %}