{% extends 'nav.html' %}
{% block content %}
{% load static %}

<style>
  .clist {
     
    font-size: 1.12rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.025rem;
    color: #666;
    text-decoration-line: none;
  }

  .clist2 {
     
    font-size: 1.12rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.025rem;
    color: #e26e84;
    text-decoration-line: none;
  }

  .clist2:hover {
    border-bottom: 0.25rem solid #e26e84;
    color: #e26e84;
    transition:all .1s;
  }
  
  .clist:hover {
    border-bottom: 0.25rem solid #e26e84;
    color: #e26e84;
    transition:all .1s;
  }
</style>

<div class="d-flex p-2 bd-highlight justify-content-center">

  <div class="p-2 bd-highlight" style="margin: 0.75rem;">
    {% if t in 'gr' %}
    <a href="{%url 'works' 'gr' %}" class="clist2" style="border-bottom: 0.25rem solid #e26e84; padding:0.25rem;">그래픽디자인</a>
    {% else %}
    <a href="{%url 'works' 'gr' %}" class="clist" style="padding:0.25rem;">그래픽디자인</a>
    {% endif %}
    
  </div>

  <div class="p-2 bd-highlight" style="margin: 0.75rem;">
    {% if t in 'ad' %}
    <a href="{%url 'works' 'ad' %}" class="clist2" style="border-bottom: 0.25rem solid #e26e84; padding:0.25rem;">광고디자인</a>
    {% else %}
    <a href="{%url 'works' 'ad' %}" class="clist" style="padding:0.25rem;">광고디자인</a>
    {% endif %}
  </div>
  <div class="p-2 bd-highlight" style="margin: 0.75rem;">
    {% if t in 'me' %}
    <a href="{%url 'works' 'me' %}" class="clist2" style="border-bottom: 0.25rem solid #e26e84; padding:0.25rem;">영상 애니메이션</a>
    {% else %}
    <a href="{%url 'works' 'me' %}" class="clist" style="padding:0.25rem;">영상 애니메이션</a>
    {% endif %}
  </div>
</div>

<div style="height: 5rem;"></div> <!-- 공백 -->

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-4 gx-4 gy-5">
    {% for works in works %}
    {% if works %}
    <div class="col-sm-3" style="margin-top: 5rem;">
      <a href="{% url 'work_detail' works.pk %}" style="text-decoration-line: none;">
        <div class="card h-100" style="max-width: 22rem; width: 18rem; border:0; ">
            <!-- <img src="{{ works.thumbnail.url }}" class="card-img-top" style="height:12rem;" alt="..."> -->
            <img src="{% static works.thumbnail %}" class="card-img-top" style="height:12rem;" alt="...">
            <p class="card-text" style="font-size: 0.7em;"></p> <!-- 공백 -->
            <p class="card-text" style="font-size: 1.5em; font-weight: bold; color: #222234; margin-bottom: 2px;">{{ works.title }}</p>
            <p class="card-text" style="font-size: 1.125em; color: #666 ">{{ works.artist }}</p>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

<br><br><br><br><br><br><br><br>



{% endblock %}