{% extends 'nav.html' %}
{% block content %}
{% load static %}

<style>
  .title {
    font-size: calc(1.4rem + 2.2vw);
  }
  .author {
    font-size: calc(0.3rem + 0.8vw);
    color: gray;
  }
  .content {
    font-size: calc(0.3rem + 0.8vw);
  }
  .Concept {
    font-family: NotoSansCJKkr;
    font-size: 1.5rem;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.03rem;
    color: #e26e84;
    }
    .subtitle {
    font-family: NotoSansCJKkr;
    font-size: calc(19.2px + 0.875vw);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.05rem;
    color: #222234;
    }
    .subcontent {
    font-family: NotoSansCJKkr;
    font-size: 1.12rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.025rem;
    color: #666;
    }
    .blacklittle {
        font-family: AppleSDGothicNeo;
        font-size: 1.12rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.025rem;
        color: #222234;
    }
    .grayname {
        font-family: NotoSansCJKkr;
        font-size: 1.12rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: 0.025rem;
        color: #666;
    }
    video {
    width: 100%;
  }
</style>
{% for work in work %}
{% if work %}
<div class="row px-2 py-5 my-5">
    <div class="col-5 h-100">
      <img class="d-block mb-4" src="{% static work.pic %}" alt="" width="100%" height="100%" style="max-height: 56rem;">
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <h1 class="title subtitle">{{ work.title }}</h1>
      <h3 class="author subcontent">{{ work.artist }}</h3>
      <br>
    <p class="lead mb-4 content subcontent">{{ work.description }}</p>
    </div>
</div>

<!-- <div style="height: 5rem;"></div> 공백 -->

<div class="container">
  <div class="ratio ratio-16x9">
    <!-- <iframe width="100%"  height="auto"src="{{ work.youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <video controls loop>
        <source src="{% static '신혜현.mp4' %}" type="video/mp4">
    </video>
  </div>

</div>

{% endif %}
{% endfor %}
{% endblock %}






